services:
  telegram-bot-dkkm:
    build: .
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "15m"
        max-file: "2"
    mem_limit: 100m
    mem_reservation: 50m